.buttonc {
  display: flex;
  justify-content: end;
}
a {
  color: var(--white1);
  font-size: 1.2rem;
  font-weight: bold;
  background-color: var(--blue1);
  border-radius: 10%;
  text-decoration: none;
  padding: 2% 5%;
}
