.featured-items {
  margin-bottom: 30px;
}
.buttonc {
  display: flex;
  justify-content: end;
}
button {
  color: var(--white1);
  background-color: var(--blue1);
  border-radius: 15%;
  padding: 15px;
}
