<div class="container1">
  <div class="featured-items">
    <h1>Billboard</h1>
    <div class="item">
        <shared-movie-card></shared-movie-card>
        <shared-movie-card></shared-movie-card>
        <shared-movie-card></shared-movie-card>
    </div>
    <div class="buttonc">
      <button routerLink="/movies/list" routerLinkActive="active" title="See all">See all</button>
    </div>
  </div>
  <div class="featured-items">
    <h1>Soon</h1>
    <div class="item">
        <shared-movie-card></shared-movie-card>
        <shared-movie-card></shared-movie-card>
        <shared-movie-card></shared-movie-card>
    </div>
    <div class="buttonc">
      <button routerLink="/movies/list" routerLinkActive="active" title="See all">See all</button>
    </div>
  </div>
</div>
