<div class="container2">
  <div class="featured-items2">

    <h1>Candy-Shop</h1>
    <div class="item2">
        <!-- <shared-movie-card class="item" *ngFor="let movie of filteredMovies" [movie]="movie"></shared-movie-card> -->
        <shared-product-card class="item"></shared-product-card>
        <shared-product-card class="item"></shared-product-card>
        <shared-product-card class="item"></shared-product-card>
        <shared-product-card class="item"></shared-product-card>
        <shared-product-card class="item"></shared-product-card>
        <shared-product-card class="item"></shared-product-card>
        <shared-product-card class="item"></shared-product-card>
    </div>

  </div>
</div>
