*, *::before, *::after {
	box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
body {
	--blue1:#13547a;
	--blue2:#80d0c7;
  --black1: black;
	--white1: white;
  --grey1: #DBDFEA;
  --grey2: #D9D9D9;
	--yellow1: #FFDE30;
	--bg1: #DBDFEA;
  --cyan1: #0cbb9b;
  --cyan2: #0c8e76;
  --greenlogo: #1B9C85;
  --greenlogo2: #99D9D2;
	font-family: 'Open Sans', sans-serif;
}
/* Movies Container*/
.container1 {
  background-color: var(--bg1);
  margin: 3% 10% 3% 10%;
  padding: 3% 7%;
}
.featured-items h1 {
  margin-bottom: 3%;
  font-weight: bold;
}
.item {
  display: flex;
  justify-content: start;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: flex-end;
  gap: 2.9rem;
}
/* Candy-Shop Container*/
.container2 {
  margin: 3% 5% 3% 5%;
  padding: 3% 5%;
}
.featured-items2 h1 {
  margin-bottom: 3%;
  font-weight: bold;
  text-align: center;
}
.item2 {
  display: flex;
  justify-content: start;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: flex-end;
  gap: 2rem;
}
