* {
  margin: 0;
  padding: 0;
}
*, *::before, *::after {
	box-sizing: border-box;
}
body {
	--blue1:#13547a;
	--blue2:#80d0c7;
	--white1: #FFF;
	--yellow1: #FFDE30;
	--bg1: #DBDFEA;
	font-family: 'Open Sans', sans-serif;
}
/* Contenido */
.container1 {
  background-color: var(--bg1);
  margin: 3% 10% 3% 10%;
  padding: 3% 7%;
}
.featured-items h1 {
  margin-bottom: 3%;
  font-weight: bolder;
}
.item {
  display: flex;
  justify-content: start;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: flex-end;
  gap: 2.9rem;
}
