<mat-card class="movie-card">
  <img class="img-fluid" mat-card-image src="https://via.placeholder.com/385x440/ffcc44" alt="Nombre Pelicula">
  <mat-card-content class="card-content">
    <p><strong>Popularidad</strong></p>
    <div class="percent">
      <p>80%</p>
      <mat-progress-bar mode="determinate" class="progress-bar" value="80"></mat-progress-bar>
    </div>
    <a routerLink="/" routerLinkActive="active" href="">Nombre Pelicula</a>
    <div class="info-card">
      <p>Estreno: 05/04/2023</p>
      <p>Género: Acción, Comedia</p>
      <p>Duración: <strong>90 min</strong></p> 
    </div>
  </mat-card-content>
</mat-card>