<mat-card class="movie-card" title="Movie Name">
  <img class="img-fluid" mat-card-image src="https://via.placeholder.com/385x440/ffcc44" alt="Nombre Pelicula">
  <mat-card-content class="card-content">
    <p><strong>Popularity</strong></p>
    <div class="percent">
      <p>80%</p>
      <mat-progress-bar mode="determinate" class="progress-bar" value="80"></mat-progress-bar>
    </div>
    <a routerLink="/list" routerLinkActive="active" href="">Movie Name</a>
    <div class="info-card">
      <p>Premiere: 05/04/2023</p>
      <p>Genre: Action, Comedy</p>
      <p>Duration: <strong>90 mins</strong></p> 
    </div>
  </mat-card-content>
</mat-card>