/* Menu */
ul li {
  list-style: none;
}
.navigation {
  background-color: var(--blue1);
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.navigation a {
  color: var(--white1);
  text-decoration: none;
	margin: 0 10px;
}
.navigation a:hover {
  text-decoration: underline;
}
/* Button menu animation */
.btn {
	position: relative;
	padding: 1rem 2rem;
	font-size: 1rem;
	color: var(--white1);
	-webkit-transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
	transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
	cursor: pointer;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}
.btn::before, .btn::after {
	content: '';
	position: absolute;
	-webkit-transition: inherit;
	transition: inherit;
	z-index: 1;
}
.btn:hover a {
	color: var(--blue1);
	-webkit-transition-delay: .5s;
	        transition-delay: .5s;
	z-index: 10;
	position: relative;
}
.btn a {
	color: var(--white1);
	-webkit-transition-delay: .10s;
	        transition-delay: .10s;
	z-index: 10;
	position: relative;
}
.btn:hover::before {
	-webkit-transition-delay: 0s;
	        transition-delay: 0s;
}
.btn:hover::after {
	background: var(--white1);
	-webkit-transition-delay: .35s;
	        transition-delay: .35s;
}
/* Button Hover Filter */
.btn-hover-filter {
  background-color: var(--white1);
}
.btn-hover-filter a {
  color: var(--blue1);
}
/* From Left */
.from-left::before,
.from-left::after {
	top: 0;
	width: 0;
	height: 100%;
}
.from-left::before {
	right: 0;
	border: 1px solid var(--white1);
	border-left: 0;
	border-right: 0;
}
.from-left::after {
	left: 0;
}
.from-left:hover::before,
.from-left:hover::after {
	width: 100%;
}
