<ul class="navigation">
  <li class="btn from-left" [ngClass]="{ 'btn-hover-filter': nowPlayingFilter }" (click)="filterMovies(true)" title="Billboard">
    <a>Billboard</a>
  </li>
  <li class="btn from-left" [ngClass]="{ 'btn-hover-filter': !nowPlayingFilter }" (click)="filterMovies(false)" title="Soon">
    <a>Soon</a>
  </li>
</ul>

<div class="container1">

  <div class="featured-items">
    <h1>{{ nowPlayingFilter ? 'Billboard' : 'Soon' }}</h1>
    <div class="item">
        <shared-movie-card class="item" *ngFor="let movie of filteredMovies" [movie]="movie"></shared-movie-card>
    </div>
  </div>

</div>
