<ul class="navigation">
  <li class="btn from-left" (click)="filterMovies(true)" [class.active]="nowPlayingFilter" title="Billboard">
    <a>Billboard</a>
  </li>
  <li class="btn from-left" (click)="filterMovies(false)" [class.active]="!nowPlayingFilter" title="Soon">
    <a>Soon</a>
  </li>
</ul>

<div class="container1">

  <div class="featured-items">
    <h1>{{ nowPlayingFilter ? 'Billboard' : 'Soon' }}</h1>
    <div class="item">
        <shared-movie-card class="item" *ngFor="let movie of filteredMovies" [movie]="movie"></shared-movie-card>
    </div>
  </div>

<!--   <mat-paginator [length]="30"
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 25, 100]"
    aria-label="Select page">
  </mat-paginator> -->

</div>
