<ul class="navigation">
  <li class="btn from-left">
    <a routerLink="/billboard" routerLinkActive="active" title="Billboard" href="">Billboard</a>
  </li>
  <li class="btn from-left">
    <a routerLink="/soon" routerLinkActive="active" title="Soon" href="">Soon</a>
  </li>
</ul>

<div class="container1">
  <div class="featured-items">
    <h1>Billboard</h1>
    <div class="item">
        <shared-movie-card></shared-movie-card>
        <shared-movie-card></shared-movie-card>
        <shared-movie-card></shared-movie-card>
        <shared-movie-card></shared-movie-card>
        <shared-movie-card></shared-movie-card>
        <shared-movie-card></shared-movie-card>
        <shared-movie-card></shared-movie-card>
        <shared-movie-card></shared-movie-card>
        <shared-movie-card></shared-movie-card>
    </div>
  </div>

</div>

<router-outlet></router-outlet>
