<div class="container">
  <div class="featured-items">
    <h1>Billboard</h1>
    <div class="item">
        <app-movie-card></app-movie-card>
        <app-movie-card></app-movie-card>
        <app-movie-card></app-movie-card>
    </div>
    <div class="buttonc">
      <button routerLink="/list" routerLinkActive="active" title="See all">See all</button>
    </div>
  </div>
  <div class="featured-items">
    <h1>Soon</h1>
    <div class="item">
        <app-movie-card></app-movie-card>
        <app-movie-card></app-movie-card>
        <app-movie-card></app-movie-card>
    </div>
    <div class="buttonc">
      <button routerLink="/list" routerLinkActive="active" title="See all">See all</button>
    </div>
  </div>
</div>
