@import url('http://localhost:8081/styles.css');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Rowdies&display=swap');



*, *::before, *::after {
	box-sizing: border-box;

}
body {
	--blued:#13547a;
	--bluel:#80d0c7;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
 

}

nav{
  font-family: 'Raleway' sans-serif;

}

title{
  font-family: 'Rowdies', cursive;
}

footer{
  font-family: 'Raleway', sans-serif;

}