/* You can add global styles to this file, and also import other style files */
@import url('http://localhost:8081/styles.css');

*, *::before, *::after {
	box-sizing: border-box;
}
body {
	--def: #13547A;
	--inv: #fff;
  margin: 0;
  padding: 0;
}