@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&family=Raleway&display=swap');

.movie-card {
  max-width: 240px;
  color: var(--white1);
  font-size: 80%;
  border-radius: 3%;
  margin-bottom: 2rem;
}
.card-content {
  background-color: var(--blue1);
  border-radius: 0 0 3% 3%;
  padding: 1rem 2rem 2rem 1.5rem;
}
.movie-title {
  color: var(--white1);
  font-style: bold;
  font-size: 120%;
  font-family: 'PT Sans Narrow', sans-serif;
  text-decoration: none;
}
.percent {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin: 5% 0 5% 0 ;
}
.percent p {
  margin: 0;
  font: Raleway;
}
.progress-bar {
  color: var(--yellow1);
  background-color: var(--white1);
  border-radius: 15%;
  margin-left: 5%;
}
.info-card {
  margin-top: 1rem;
  padding-bottom: 0.5rem;
  font-family: 'Raleway', sans-serif;
 }
