<mat-card class="movie-card" title="Nombre del Producto">
  <img mat-card-image class="img-fluid" [src]="getImagen()">
  <mat-card-content class="card-content">
    <a class="product-title">Nombre del Producto</a>
    <div class="info-card">
      <p>Descripción del producto</p>
      <p><strong>$999.999</strong></p>
    </div>
    <a type="button" class="btn btn-default add-to-cart">
      <i class="fa fa-cart-plus"></i>
      Añadir al carrito
    </a>
    <!-- (boton copiado) -->
    <a type="button" class="btn btn-default add-to-cart">
      <i class="fa fa-cart-shopping"></i>
      Comprar
    </a>
  </mat-card-content>

</mat-card>

