<mat-card class="movie-card" title="Nombre del Producto">
  <img mat-card-image class="img-fluid" [src]="getImagen()">
  <mat-card-content class="card-content">

    <a class="product-title">Product Name</a>
    <div class="info-card">
      <p>Product description</p>
      <p><strong>$999.999</strong></p>
    </div>
    <!-- Add Product Selector -->
    <div class="add-psc">
      <div class="quantity-selector">
        <label for="quantity">Quantity:</label>
        <input type="number" id="quantity" name="quantity" min="1" value="1">
      </div>
      <button class="add-cart-btn" title="Add to Cart">
        <i-feather name="shopping-cart" class="cart-icon"></i-feather> Add to Cart
      </button>
    </div>

  </mat-card-content>
</mat-card>

