<p>movies-list works!</p>


<!-- Menu -->
<mat-toolbar color="primary">
  <span>MR CINEMA</span>
   <div class="spacer"></div>
    <a mat-button routerLink="">Inicio</a>
    <a mat-button routerLink="/list">Cartelera</a>
    <a mat-button routerLink="/addc">Reservas</a>
    <a mat-button routerLink="/addc">Confiteria</a>
    <a mat-button routerLink="/add">Acerca de</a>
 </mat-toolbar>

 <mat-slide-toggle>Toggle me!</mat-slide-toggle>

 <hr>


<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>